/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}
body{    
    background-color: black;
    color: white;
    letter-spacing: 3px;
    /* makes the scrollbar go underneath the content  */
    overflow-y: overlay;
    /* /makes the scrollbar go underneath the content  */
}

/* scrollbar properties */
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px transparent;
}   
::-webkit-scrollbar-thumb{
    background-color: rgba(133, 133, 133, 0.7);
    border: 1px solid inherit;
}
/* /scrollbar properties */

h1{
    font-size: 30px;
}
/* /general rules */

nav{
    background-color: rgba(230, 229, 228, 0.1);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
/* main section of the page */
main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-top: 100px;
}
/* grid container */
.container{
    margin: auto;
    display: grid;
    /* gap */

    /* gap for column and row
    gap: 10px; */
    column-gap: 20px;
    row-gap: 10px;
    /* /gap */

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 500px 500px ;
}
/* grid container */
.cell{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(230, 229, 228, 0.1);
    justify-content: center;
    align-items: center;
    color: white;
}
main .cell .img_format{
    width: 100%;
    height: calc(100% - 36px);
    object-fit: contain;

}
/* /main section of the page */
